<!DOCTYPE HTML>
<meta charset='utf-8'>


<html>

<head>
    <title>Sam's Blog</title>
{% load staticfiles %}
<link href="{% static 'CSS\style.css' %}" rel="stylesheet" media='screen' >

    
</head>

    
    
    
    
<body>

<header>
        <div id='search_div'>
        <form>
            Search:
            <input type='search'>
            <select>
                <option>by all</option>
                <option>by authors</option>
                <option>by themes</option>       
            </select>
        </form>
        </div>
</header>
<br>

<aside>
<!-- Для боковой панели, мне нужно запиилить чтоб если 
пользователь не авторизовался висела панель авторизации,
а дальше проверка которая касается правой панели"-->
<!--{# if тут реализовать логику проверки аутентификации #}-->
    <div id='login_div'>
        <form action="{% url 'home_page' %}" method="POST">
            Username:
            {{log_form.username}}
            Password:
            {{log_form.password}}
            <input type='submit' value='Log in' name="log_form">
            Remember me <input type="checkbox">
            <br>
            <a href="{% url 'blog.viwes.reg' %}">Registration</a>
        </form>
        <br>
    </div>

<!--Тут будет блок верстки, если ползун аутентифицировался-->
<!--{#else#}-->
<!--{#endif#}-->
</aside>

<section>
    <h2>{{option_mes|safe}}</h2>
    {%block content%}{%endblock%}
         
</section>
<footer>
    <p>by Sam</p>
</footer>
</body>    
</html>