{%extends 'base.html'%}
{% load staticfiles %}

{%block content%}
	{%for image in user_images %}
		{% ifequal image.user_to.id viewed_user.id %}
			<img src="{{ image.instance.image.url }}" alt='User avatar' width='100'></img>
			<p>ffff</p>
		{% endifequal%}
	{% endfor%}
    <b><i>Username:</i>
    {{viewed_user.username}}</b>
    <hr>
    <i>First name:</i>
    {{viewed_user.first_name}}<br>
    <i>Last name:</i>
    {{viewed_user.last_name}}
    <hr>
    <i>Email:</i>
    {{viewed_user.email}}
    <br>
    <i>Date of registration:</i>
    {{viewed_user.date_joined}}
    <hr>
    <i>User posts:</i> 
    <br>
    <ul>
    {% for post in viewed_user_posts%}
        <li><a href="{% url 'post_view' post.id %}">{{post.theme}}</a></li>
    {%endfor%}
    </ul>



{%endblock%}
